@model QuanLyKhoHang.Models.Category

@{
    ViewData["Title"] = "Chi tiết danh mục";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="details-container">
    <div class="details-title">Chi tiết danh mục</div>
    <dl class="row details-info">
        <dt class="col-sm-4">Tên danh mục</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>
    </dl>
    <div class="action-links">
        <a asp-action="Edit" asp-route-id="@Model?.Id">Chỉnh sửa</a>
        <a asp-action="Index">Quay lại danh sách</a>
    </div>
</div>
