@model QuanLyKhoHang.Models.Category

@{
    ViewData["Title"] = "Chỉnh sửa danh mục";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="form-container">
    <div class="form-title">Chỉnh sửa danh mục</div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="control-label">Tên danh mục</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group" style="text-align:center;">
            <input type="submit" value="Lưu thay đổi" class="btn btn-primary" />
        </div>
    </form>
    <a asp-action="Index" class="back-link">Quay lại danh sách</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
